In [2]:
import pandas as pd

In [5]:
v1 = [53,64,72,81,90]
i = ['1号','2号','3号','4号','5号']
sr1 = pd.Series(v1,index=i)
print(sr1)

1号    53
2号    64
3号    72
4号    81
5号    90
dtype: int64

In [4]:
v2 = ['女','男','男','女']
i = ['1号','2号','3号','4号']
sr2 = pd.Series(v2,index=i)
print(sr2)

1号    女
2号    男
3号    男
4号    女
dtype: object

In [7]:
df = pd.DataFrame({'年龄':sr1,'性别':sr2})
df

    年龄   性别
1号  53    女
2号  64    男
3号  72    男
4号  81    女
5号  90  NaN

In [4]:
v = [ [53, 64, 72, 82], [ '女', '男', '男', '女' ] ]
i = [ '年龄', '性别' ]
c = [ '1 号', '2 号', '3 号', '4 号' ]
df = pd.DataFrame( v, index=i, columns=c )
print(df)
df.iloc[::-1,:]

   1 号 2 号 3 号 4 号
年龄  53  64  72  82
性别   女   男   男   女

   1 号 2 号 3 号 4 号
性别   女   男   男   女
年龄  53  64  72  82

In [12]:
v = [ [53, 64, 72, 82], [ '女', '男', '男', '女' ] ]
i = [ '年龄', '性别' ]
c = [ '1 号', '2 号', '3 号', '4 号' ]
df = pd.DataFrame( v, index=i, columns=c )
print(df)
df.iloc[:,::-1]

   1 号 2 号 3 号 4 号
年龄  53  64  72  82
性别   女   男   男   女

   4 号 3 号 2 号 1 号
年龄  82  72  64  53
性别   女   男   男   女

In [19]:
i = [ '1 号', '2 号', '3 号', '4 号' ]
v1 = [ 10, 20, 30, 40 ]
v2 = [ '女', '男', '男', '女' ]
v3 = [ 1, 2, 3, 4 ]
sr1 = pd.Series( v1, index=i )
sr2 = pd.Series( v2, index=i )
sr3 = pd.Series( v3, index=i )
df = pd.DataFrame({'年龄':sr1,'性别':sr2})
print(df)
sr4 = df['年龄']
print(df)

     年龄 性别
1 号  10  女
2 号  20  男
3 号  30  男
4 号  40  女
     年龄 性别
1 号  10  女
2 号  20  男
3 号  30  男
4 号  40  女